.card {
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  margin: 1rem;
}

.img-container {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
