.wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  background-image: url("https://images3.alphacoders.com/837/thumb-1920-837671.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  border-radius: 6px;
}
